<div class="row mt-3" style="margin-right: 1rem;">
    <div class="col lg-6">
        <button class="btn btn-primary float-end" routerLink="/registrar" >Registrar persona</button>
    </div>
</div>
<div style="width: 50%;">
    <table  class="table table-hover mt-4">
        <thead>
            <tr>
                <td>Sector</td>
                <td>Zona</td>
                <td>Sueldo</td>
            </tr>
        </thead>
        <div class="row mt-2" style="margin-left: 1rem;" *ngIf="listPersonas.length==0" >
            <p>Cargando datos...</p>
        </div>
        <tbody>
            <tr *ngFor="let persona of listPersonas"  (click)="cambiarNombre(persona.id_sector,persona.id_zona)"> 
                <td>
                    <div class="d-flex" *ngFor="let sector of listSector">
                        <div *ngIf="sector.id_sector==persona.id_sector">
                            {{sector.desc_sector}}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex"  *ngFor="let zona of listZonas">
                        <div *ngIf="zona.id_zona==persona.id_zona">
                            {{zona.desc_zona}}
                        </div>
                    </div>
                </td>
                <td>{{persona.sueldo}}</td>
            </tr> 
        </tbody>
    </table>
</div>

<app-lista-personas [zona]="zonaSelect" [sector]="sectorSelect" ></app-lista-personas>

