<div style="width: 30%;">
    <table  class="table table-hover mt-4">
        <thead>
            <tr>
                <td>Cod Persona</td>
                <td>Nombre</td>
                <td>Sueldo</td>
            </tr>
        </thead>
        <tbody>
            <div class="row mt-5" *ngIf="listPersonas.length==0" >
                <h5>Seleccione una Zona</h5>
            </div>
            <tr *ngFor="let persona of listPersonas"  > 
                <!-- ESE FOR DE ARRIBA LLAMA A LA LISTA CREEADA EN EL TS -->
                <td>{{persona.id_persona}}</td>
                <td>{{persona.nom_persona}}</td>
                <td>{{persona.sueldo}}</td>
            </tr> 
        </tbody>
    </table>
</div>

