<div style="width: 30%;">
    <table  class="table table-hover mt-4">
        <thead>
            <tr>
                <td>Cod Persona</td>
                <td>Nombre</td>
                <td>Sueldo</td>
            </tr>
        </thead>
        <div class="row mt-2"  *ngIf="listPersonas.length==0" >
            <p>Seleccione una Zona </p>
        </div>
        <tbody>
            <tr *ngFor="let persona of listPersonas"  > 
                <!-- ESE FOR DE ARRIBA LLAMA A LA LISTA CREEADA EN EL TS -->
                <td>{{persona.id_persona}}</td>
                <td>{{persona.nom_persona}}</td>
                <td>{{persona.sueldo}}</td>
                <td>
                    <button [routerLink]="['/registrar',persona.id_persona]" class="btn btn-primary btn-sm float-end">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm float-end" (click)="deletePersona(persona.id_persona)">Eliminar</button>
                </td>
                
            </tr> 
        </tbody>
    </table>
</div>
